.milk-container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #1565c0;
}

.filter-section {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.filter-section label {
    font-size: 18px;
    cursor: pointer;
}

.milk-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.milk-card {
    background: #ca8a80;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 15px;
    width: 250px;
    justify-content: space-between;
}

.add-cart-btn {
    background: #1565c0;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.add-cart-btn:hover {
    background: #0d47a1;
}
