.veg-container {
  text-align: center;
  padding: 20px;
}

.filter-section {
  margin-bottom: 15px;
}

.filter-section label {
  margin-right: 15px;
  font-size: 16px;
  cursor: pointer;
}

.veg-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.veg-card {
  background: #de9b9b;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-cart-btn {
  background: green;
  color: rgb(9, 9, 9);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.add-cart-btn:hover {
  background: darkgreen;
}
